@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 20px;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; 
}

.starrating > input:checked ~ label
{ color: #7971ea ; }

.starrating > input:hover ~ label
{ color: #7971ea ;  }